
html
    link(rel="stylesheet", href="/css/couponsstart.css")
    body
        div.container1#cards 
            h2 Check our Promo!
            p Check out our latest coupon codes and discounts below
            a.btn(href="/coupons") Look around